[submodule "parsesgml"]
	path = src/parsesgml
	url = https://github.com/kuhumcst/parsesgml
[submodule "letterfunc"]
	path = src/letterfunc
	url = https://github.com/kuhumcst/letterfunc
[submodule "hashmap"]
	path = src/hashmap
	url = https://github.com/kuhumcst/hashmap
